version: '3.8'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: schedule_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d schedule_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend/uploads:/app/uploads
    networks:
      - backend_network
    environment:
      DATABASE_URL: postgresql://postgres:password123@db:5432/schedule_db

  frontend:
    build: ./frontend
    depends_on:
      - backend
    volumes:
      - ./frontend/uploads:/app/uploads
    ports: 
      - "3000:80" 
    networks:
      - backend_network
    

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf  # ← ИСПРАВЛЕНО!
    depends_on:
      - backend
      - frontend
    networks:
      - backend_network

volumes:
  postgres_data:

networks:
  backend_network: